.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.clock {
    width: auto;
}

.flip-clock-dot {
    background: #ccc;
}

.text {
    color:gainsboro;
    font-size: 60px;
}

